/*************************  
  CSS Variables: 
*************************/ 


:root {


  /*************************  
    Basic Colors
  *************************/  

  --color-black: 13.98% 0 0;
  --color-white: 99.4% 0 0;
  --color-pure-black: 100% 0 0;
  --color-pure-white: 0 0 0;
  
  --color-gray-100: 94.91% 0 0;
  --color-gray-200: 86.99% 0 0;
  --color-gray-300: 79.21% 0 0;
  --color-gray-400: 70.9% 0 0;
  --color-gray-500: 62.68% 0 0;
  --color-gray-600: 54.17% 0 0;
  --color-gray-700: 44.95% 0 0;
  --color-gray-800: 35.62% 0 0;
  --color-gray-900: 25.2% 0 0;

  --color-blue-50: 98.28% 0.009 247.912;
  --color-blue-100: 87.08% 0.066 248.6;
  --color-blue-200: 78.7% 0.112 249.79;
  --color-blue-300: 71.09% 0.156 250.76;
  --color-blue-400: 64.29% 0.195 254.13;
  --color-blue-500: 56.94% 0.195 256.048;
  --color-blue-600: 47.34% 0.159 255.547;
  --color-blue-700: 37.63% 0.123 254.677;
  --color-blue-800: 26.9% 0.083 253.05;
  --color-blue-900: 15.28% 0.037 243.08;

  --color-green-50: 97.16% 0.021 134.08;
  --color-green-100: 85.13% 0.111 135.44;
  --color-green-200: 79.85% 0.15 136.26;
  --color-green-300: 75.14% 0.185 137.04;
  --color-green-400: 66.01% 0.171 137.18;
  --color-green-500: 54.57% 0.139 137.11;
  --color-green-600: 42.2% 0.104 136.86;
  --color-green-700: 29.17% 0.066 136.57;
  --color-green-800: 14.38% 0.023 136.35;
  --color-green-900: 0% 0 0;

  --color-yellow-50: 97.56% 0.024 83.42;
  --color-yellow-100: 87.38% 0.125 81.431;
  --color-yellow-200: 83.48% 0.155 78.41;
  --color-yellow-300: 79.99% 0.169 72.43;
  --color-yellow-400: 69.68% 0.15 71.455;
  --color-yellow-500: 57.14% 0.122 72.42;
  --color-yellow-600: 43.87% 0.093 74.177;
  --color-yellow-700: 29.49% 0.061 78.31;
  --color-yellow-800: 12.92% 0.027 96.546;
  --color-yellow-900: 0% 0 0;

  --color-red-50: 49.6% 0.203 29.13;
  --color-red-100: 85.97% 0.074 18.7;
  --color-red-200: 76.2% 0.14 20.86;
  --color-red-300: 68.4% 0.2 24.07;
  --color-red-400: 63.5% 0.243 27.77;
  --color-red-500: 59.29% 0.242 29.14;
  --color-red-600: 49.6% 0.203 29.13;
  --color-red-700: 39.46% 0.16 29.03;
  --color-red-800: 28.55% 0.116 28.97;
  --color-red-900: 16.09% 0.066 29.23;

  --color-purple-300: 72.21% 0.112 291.14;
  --color-purple-500: 50.2% 0.206 283.57;


  /*************************  
    Basic Variables
  *************************/ 

  /* Distance & shape */
  --radius: 0.25rem;
  --radius-inner: 0.1875rem;

  --spacing-xxxs: 0.125rem;
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-s: 0.75rem;
  --spacing-m: 1rem;
  --spacing-l: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-xxl: 4rem;
  --spacing-xxxl: 7.5rem;

  /* Font */
  --font-size-base: 1rem;
  --font-family: system-ui, Helvetica, Arial, sans-serif;

  /* Breakpint */
  --breakpoint-375: 375px;
  --breakpoint-480: 480px;
  --breakpoint-768: 768px;
  --breakpoint-992: 992px;
  --breakpoint-1280: 1280px;
  --breakpoint-1440: 1440px;
  --breakpoint-1600: 1600px;
  --breakpoint-1920: 1920px;

  /* Box-shadow */
  --box-shadow: 0 0.75rem 1.125rem oklch(var(--color-black) / 0.15);


  /*************************  
    Tokens
  *************************/  

  /* Theme */
  --color-primary-50: var(--color-blue-50);
  --color-primary-100: var(--color-blue-100);
  --color-primary-200: var(--color-blue-200);
  --color-primary-300: var(--color-blue-300);
  --color-primary-400: var(--color-blue-400);
  --color-primary-500: var(--color-blue-500);
  --color-primary-600: var(--color-blue-600);
  --color-primary-700: var(--color-blue-700);
  --color-primary-800: var(--color-blue-800);
  --color-primary-900: var(--color-blue-900);

  --color-success-50: var(--color-green-50);
  --color-success-100: var(--color-green-100);
  --color-success-200: var(--color-green-200);
  --color-success-300: var(--color-green-300);
  --color-success-400: var(--color-green-400);
  --color-success-500: var(--color-green-500);
  --color-success-600: var(--color-green-600);
  --color-success-700: var(--color-green-700);
  --color-success-800: var(--color-green-800);
  --color-success-900: var(--color-green-900);

  --color-warning-50: var(--color-yellow-50);
  --color-warning-100: var(--color-yellow-100);
  --color-warning-200: var(--color-yellow-200);
  --color-warning-300: var(--color-yellow-300);
  --color-warning-400: var(--color-yellow-400);
  --color-warning-500: var(--color-yellow-500);
  --color-warning-600: var(--color-yellow-600);
  --color-warning-700: var(--color-yellow-700);
  --color-warning-800: var(--color-yellow-800);
  --color-warning-900: var(--color-yellow-900);

  --color-danger-50: var(--color-red-50);
  --color-danger-100: var(--color-red-100);
  --color-danger-200: var(--color-red-200);
  --color-danger-300: var(--color-red-300);
  --color-danger-400: var(--color-red-400);
  --color-danger-500: var(--color-red-500);
  --color-danger-600: var(--color-red-600);
  --color-danger-700: var(--color-red-700);
  --color-danger-800: var(--color-red-800);
  --color-danger-900: var(--color-red-900);

  --color-focus: var(--color-yellow-200);
  --color-visited: var(--color-purple-500);
  --color-placeholder: var(--color-gray-300);
  --color-border: var(--color-gray-300);
  
  /* Article */
  --article-title-color: var(--color-gray-900);
  --article-subtitle-color: var(--color-gray-700);
  --article-paragraph-color: var(--color-gray-700);

  /* Link */
  --link-color: var(--color-primary-600);
  --link-hover-color: var(--color-primary-500);
  --link-active-color: var(--color-primary-700);
  --link-visited-color: var(--color-visited);

  /* Accordion */
  --accordion-header-color: var(--article-title-color);
  --accordion-header-bg: var(--color-white);
  --accordion-bar-color: var(--color-primary-600);
  --accordion-active-bar-color: var(--color-warning-500);
  --accordion-icon-color: var(--color-primary-600);
  --accordion-content-color: var(--article-paragraph-color);
  --accordion-content-bg: var(--color-gray-100);

  /* Badge */
  --color-badge-bg: var(--color-warning-100);
  --color-badge-color:  var(--color-black);

  /* Button */
  --button-flat-color: var(--color-white);
  --button-ghost-bg: var(--color-white);
  --button-default-color: var(--color-black);
  --button-default-bg: var(--color-white);
  --button-default-hover-bg: var(--color-gray-100);
  --button-default-active-bg: var(--color-gray-200);

  /* Checkbox */
  --checkbox-square-bg: var(--color-white);
  --checkbox-square-active-bg: var(--color-primary-100);
  --checkbox-square-border-color: var(--color-border);
  --checkbox-square-hover-border-color: var(--color-primary-500);
  --checkbox-square-active-border-color: var(--color-primary-500);
  --checkbox-square-error-bg: var(--color-danger-100);
  --checkbox-label-color: var(--color-gray-900);
  --checkbox-label-hover-color: var(--color-primary-600);
  --checkbox-label-active-color: var(--color-primary-600);
  --checkbox-label-focus-color: var(--color-primary-600);
  --checkbox-label-error-color: var(--color-danger-500);
  --checkbox-border-error-color: var(--color-danger-500);
  --checkbox-icon-color: var(--color-gray-800);
  --checkbox-inner-icon-color: var(--color-primary-500);

  /* Dialog/Card */
  --dialog-header-close-btn-color: var(--color-primary-600);
  --dialog-header-title-color: var(--article-title-color);
  --dialog-content-color: var(--article-paragraph-color);
  --dialog-header-bg: var(--color-white);
  --dialog-content-bg: var(--color-white);
  --dialog-footer-bg: var(--color-white);
  --dialog-border-color: var(--color-border);
}


/*************************  
  Dark Mode
*************************/ 

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;


    /*************************  
      Tokens
    *************************/ 

    /* Theme */
    --color-primary-50: var(--color-blue-50);
    --color-primary-100: var(--color-blue-100);
    --color-primary-200: var(--color-blue-200);
    --color-primary-300: var(--color-blue-300);
    --color-primary-400: var(--color-blue-400);
    --color-primary-500: var(--color-blue-500);
    --color-primary-600: var(--color-blue-600);
    --color-primary-700: var(--color-blue-700);
    --color-primary-800: var(--color-blue-800);
    --color-primary-900: var(--color-blue-900);

    --color-success-50: var(--color-green-50);
    --color-success-100: var(--color-green-100);
    --color-success-200: var(--color-green-200);
    --color-success-300: var(--color-green-300);
    --color-success-400: var(--color-green-400);
    --color-success-500: var(--color-green-500);
    --color-success-600: var(--color-green-600);
    --color-success-700: var(--color-green-700);
    --color-success-800: var(--color-green-800);
    --color-success-900: var(--color-green-900);

    --color-warning-50: var(--color-yellow-50);
    --color-warning-100: var(--color-yellow-100);
    --color-warning-200: var(--color-yellow-200);
    --color-warning-300: var(--color-yellow-300);
    --color-warning-400: var(--color-yellow-400);
    --color-warning-500: var(--color-yellow-500);
    --color-warning-600: var(--color-yellow-600);
    --color-warning-700: var(--color-yellow-700);
    --color-warning-800: var(--color-yellow-800);
    --color-warning-900: var(--color-yellow-900);

    --color-danger-50: var(--color-red-50);
    --color-danger-100: var(--color-red-100);
    --color-danger-200: var(--color-red-200);
    --color-danger-300: var(--color-red-300);
    --color-danger-400: var(--color-red-400);
    --color-danger-500: var(--color-red-500);
    --color-danger-600: var(--color-red-600);
    --color-danger-700: var(--color-red-700);
    --color-danger-800: var(--color-red-800);
    --color-danger-900: var(--color-red-900);

    --color-focus: var(--color-yellow-200);
    --color-visited: var(--color-purple-300);
    --color-placeholder: var(--color-gray-300);
    --color-border: var(--color-gray-700);

    /* Article */
    --article-title-color: var(--color-gray-100);
    --article-subtitle-color: var(--color-gray-300);
    --article-paragraph-color: var(--color-gray-300);

    /* Link */
    --link-color: var(--color-primary-100);
    --link-hover-color: var(--color-primary-300);
    --link-active-color: var(--color-primary-100);
    --link-visited-color: var(--color-visited);

    /* Accordion */
    --accordion-header-color: var(--article-title-color);
    --accordion-header-bg: var(--color-black);
    --accordion-bar-color: var(--color-primary-600);
    --accordion-active-bar-color: var(--color-warning-500);
    --accordion-content-color: var(--article-paragraph-color);
    --accordion-content-bg: var(--color-gray-900);
    --accordion-icon-color: var(--color-primary-200);

    /* Button */
    --button-flat-color: var(--color-white);
    --button-ghost-bg: var(--color-white);
    --button-default-color: var(--color-black);
    --button-default-bg: var(--color-white);
    --button-default-hover-bg: var(--color-gray-200);
    --button-default-active-bg: var(--color-gray-300);

    /* Checkbox */
    --checkbox-square-bg: var(--color-white);
    --checkbox-square-active-bg: var(--color-primary-100);
    --checkbox-square-border-color: var(--color-white);
    --checkbox-square-hover-border-color: var(--color-primary-500);
    --checkbox-square-active-border-color: var(--color-primary-500);
    --checkbox-square-error-bg: var(--color-danger-100);
    --checkbox-label-color: var(--color-gray-100);
    --checkbox-label-hover-color: var(--color-primary-200);
    --checkbox-label-active-color: var(--color-primary-200);
    --checkbox-label-focus-color: var(--color-primary-200);
    --checkbox-label-error-color: var(--color-danger-200);
    --checkbox-border-error-color: var(--color-danger-500);
    --checkbox-icon-color: var(--color-gray-400);
    --checkbox-inner-icon-color: var(--color-primary-500);

    /* Dialog/Card */
    --dialog-header-close-btn-color: var(--color-white);
    --dialog-header-title-color: var(--article-title-color);
    --dialog-content-color: var(--article-paragraph-color);
    --dialog-header-bg: var(--color-black);
    --dialog-content-bg: var(--color-black);
    --dialog-footer-bg: var(--color-black);
    --dialog-border-color: var(--color-border);
  }
}
